.login-form__page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form__container {
  width: 40vw;
  height: 50vh;
  border: 1px solid #ccc;
  border-radius: 10px;

  padding: 20px;
  box-sizing: border-box;
}
