.register-form__page {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form__container {
  width: 60vw;
  height: 70vh;
  border: 1px solid #ccc;
  border-radius: 10px;

  padding: 20px;
  box-sizing: border-box;
}
